# Pandas Indexing and Slicing Exercises

## Indexing Exercises

**Exercise 1 (Easy):** Create a DataFrame with columns 'Name', 'Age', and 'Score'. Use `.loc[]` to select a single row by index label. Return all of Bob's information.

In [1]:
import pandas as pd

# Exercise 1: Basic .loc[] indexing
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Score': [88, 92, 78]
})

In [15]:
# Your code here...
print(df)
df.loc[1]

      Name  Age  Score
0    Alice   25     88
1      Bob   30     92
2  Charlie   35     78

Name     Bob
Age       30
Score     92
Name: 1, dtype: object

**Exercise 2 (Easy):** Using `.iloc[]`, select the element at row 0, column 2 from the DataFrame above. What score does Alice have?

In [140]:
# your code here...
print(df)
print(df.iloc[0, 2])

      Name  Age  Score
0    Alice   25     88
1      Bob   30     92
2  Charlie   35     78
88

**Exercise 3 (Medium):** Create a DataFrame with a custom string index (e.g., 'row_a', 'row_b', 'row_c') and columns 'X', 'Y', 'Z'. Use `.loc[]` to select multiple rows by index labels. Return rows 'row_a' and 'row_c'.

In [22]:
# Exercise 3: Multiple row selection with .loc[]
df3 = pd.DataFrame({
    'X': [10, 20, 30],
    'Y': [100, 200, 300],
    'Z': [1000, 2000, 3000]
}, index=['row_a', 'row_b', 'row_c'])

In [29]:
# your code here...
print(df3)
df3.loc[["row_a", "row_c"]]

        X    Y     Z
row_a  10  100  1000
row_b  20  200  2000
row_c  30  300  3000

        X    Y     Z
row_a  10  100  1000
row_c  30  300  3000

**Exercise 4 (Medium):** Given a DataFrame with numerical data, use boolean indexing to select all rows where the 'Age' column value is greater than 28. How many rows match this condition?

In [30]:
# Exercise 4: Boolean indexing
df4 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Age': [25, 30, 35, 28],
    'Score': [88, 92, 78, 95]
})

In [43]:
# your code here ...
print(df4)
print(df4[df4['Age'] > 28])
len(df4[df4['Age'] > 28])

      Name  Age  Score
0    Alice   25     88
1      Bob   30     92
2  Charlie   35     78
3    Diana   28     95
      Name  Age  Score
1      Bob   30     92
2  Charlie   35     78

2

**Exercise 5 (Challenging):** Create a multi-indexed DataFrame (hierarchical index with 'Department' and 'Employee' levels). Use `.loc[]` with multiple index levels to select all rows from a specific department, then filter for scores above 85. Return the result.

In [78]:
# Exercise 5: Multi-level indexing with .loc[]
index = pd.MultiIndex.from_tuples([
    ('Sales', 'Alice'),
    ('Sales', 'Bob'),
    ('HR', 'Charlie'),
    ('HR', 'Diana'),
    ('IT', 'Eve')
], names=['Department', 'Employee'])

df5 = pd.DataFrame({
    'Score': [88, 92, 78, 95, 89]
}, index=index)

In [188]:
##my code here 
print(df5)
new_df = df5.loc["HR"]
print(new_df)
goal = new_df[new_df["Score"] > 85]
print(goal)

                     Score
Department Employee
Sales      Alice        88
           Bob          92
HR         Charlie      78
           Diana        95
IT         Eve          89
          Score
Employee
Charlie      78
Diana        95
          Score
Employee
Diana        95

## Slicing Exercises

**Exercise 1 (Easy):** Create a DataFrame with 10 rows. Use `.iloc[]` to slice and return rows 2 through 5 (inclusive). What are the first and last row indices returned?

In [110]:
# Exercise 1: Basic row slicing with .iloc[]
df_slice1 = pd.DataFrame({
    'A': range(10, 20),
    'B': range(100, 110),
    'C': range(1000, 1010)
})

In [186]:
# your code here...
print(df_slice1)
print(df_slice1.iloc[1:5])
target = df_slice1.iloc[1:5]
print(target.iloc[[0, -1]])

    A    B     C
0  10  100  1000
1  11  101  1001
2  12  102  1002
3  13  103  1003
4  14  104  1004
5  15  105  1005
6  16  106  1006
7  17  107  1007
8  18  108  1008
9  19  109  1009
    A    B     C
1  11  101  1001
2  12  102  1002
3  13  103  1003
4  14  104  1004
    A    B     C
1  11  101  1001
4  14  104  1004

**Exercise 2 (Easy):** Using the DataFrame from Exercise 1, slice to select columns 'A' and 'C' for all rows. Use `.iloc[]` with column indices.

In [147]:
# your code here...
print(df_slice1)
print(df_slice1.iloc[:, [0, 2]])

    A    B     C
0  10  100  1000
1  11  101  1001
2  12  102  1002
3  13  103  1003
4  14  104  1004
5  15  105  1005
6  16  106  1006
7  17  107  1007
8  18  108  1008
9  19  109  1009
    A     C
0  10  1000
1  11  1001
2  12  1002
3  13  1003
4  14  1004
5  15  1005
6  16  1006
7  17  1007
8  18  1008
9  19  1009

**Exercise 3 (Medium):** Create a DataFrame with a DatetimeIndex. Use `.loc[]` to slice data between two date strings (e.g., '2024-01-10' to '2024-01-20'). Return all rows in that date range.

In [149]:
# Exercise 3: Date range slicing with .loc[]
date_index = pd.date_range('2024-01-01', periods=31, freq='D')
df_slice3 = pd.DataFrame({
    'Temperature': range(20, 51),
    'Humidity': range(30, 61)
}, index=date_index)

In [166]:
# your code here...
print(df_slice3)
print(df_slice3.loc["2024-01-15": "2024-01-19", :])

            Temperature  Humidity
2024-01-01           20        30
2024-01-02           21        31
2024-01-03           22        32
2024-01-04           23        33
2024-01-05           24        34
2024-01-06           25        35
2024-01-07           26        36
2024-01-08           27        37
2024-01-09           28        38
2024-01-10           29        39
2024-01-11           30        40
2024-01-12           31        41
2024-01-13           32        42
2024-01-14           33        43
2024-01-15           34        44
2024-01-16           35        45
2024-01-17           36        46
2024-01-18           37        47
2024-01-19           38        48
2024-01-20           39        49
2024-01-21           40        50
2024-01-22           41        51
2024-01-23           42        52
2024-01-24           43        53
2024-01-25           44        54
2024-01-26           45        55
2024-01-27           46        56
2024-01-28           47        57
2024-01-29           48        58
2024-01-30           49        59
2024-01-31           50        60
            Temperature  Humidity
2024-01-15           34        44
2024-01-16           35        45
2024-01-17           36        46
2024-01-18           37        47
2024-01-19           38        48

**Exercise 4 (Medium):** Create a DataFrame and use `.iloc[]` to select a rectangular region: rows 3 to 7 and columns 1 to 3. Return the shape and values of this sub-DataFrame.

In [157]:
# Exercise 4: 2D rectangular slicing with .iloc[]
df_slice4 = pd.DataFrame({
    'Col0': range(100, 110),
    'Col1': range(200, 210),
    'Col2': range(300, 310),
    'Col3': range(400, 410),
    'Col4': range(500, 510)
})

In [161]:
# your code here...
print(df_slice4)
print(df_slice4.iloc[3:8, 1:4])

   Col0  Col1  Col2  Col3  Col4
0   100   200   300   400   500
1   101   201   301   401   501
2   102   202   302   402   502
3   103   203   303   403   503
4   104   204   304   404   504
5   105   205   305   405   505
6   106   206   306   406   506
7   107   207   307   407   507
8   108   208   308   408   508
9   109   209   309   409   509
   Col1  Col2  Col3
3   203   303   403
4   204   304   404
5   205   305   405
6   206   306   406
7   207   307   407

**Exercise 5 (Challenging):** Create a DataFrame with a string index. Use `.loc[]` to slice between two index labels (e.g., from 'item_3' to 'item_8'), then apply a column filter to keep only numeric values above a threshold. Return the filtered result.

In [162]:
# Exercise 5: Complex slicing with label ranges and filtering
df_slice5 = pd.DataFrame({
    'Price': [15, 25, 35, 45, 55, 65, 75, 85, 95, 105],
    'Quantity': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
    'Status': ['In Stock', 'Out', 'In Stock', 'Out', 'In Stock', 'Out', 'In Stock', 'Out', 'In Stock', 'Out']
}, index=[f'item_{i}' for i in range(1, 11)])

In [185]:
# your code here...
print(df_slice5)
print(df_slice5.loc["item_2": "item_9"])
final = df_slice5.loc["item_2":"item_9"]
final = final[final['Price'] > 50]
print(final)

         Price  Quantity    Status
item_1      15        10  In Stock
item_2      25        20       Out
item_3      35        30  In Stock
item_4      45        40       Out
item_5      55        50  In Stock
item_6      65        60       Out
item_7      75        70  In Stock
item_8      85        80       Out
item_9      95        90  In Stock
item_10    105       100       Out
        Price  Quantity    Status
item_2     25        20       Out
item_3     35        30  In Stock
item_4     45        40       Out
item_5     55        50  In Stock
item_6     65        60       Out
item_7     75        70  In Stock
item_8     85        80       Out
item_9     95        90  In Stock
        Price  Quantity    Status
item_5     55        50  In Stock
item_6     65        60       Out
item_7     75        70  In Stock
item_8     85        80       Out
item_9     95        90  In Stock